* {
  margin: 0;
  padding: 0;
}

html {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  color: rgba(255, 255, 255, 0.87);
  background-color: black;
}

body {
  height: 100%;
  /* background: linear-gradient(to bottom, rgba(30, 10, 90, 155), rgba(0, 0, 0, 255)); */
}